@model CarlosAriel26032025.AppWebMVC.Models.Warehouse

@{
    ViewData["Title"] = "Warehouse Details";
}

<div class="container mt-5">
    <h1 class="text-center text-primary">Detalles del Almacén</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Informacion del almacen</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4"><strong>@Html.DisplayNameFor(model => model.WarehouseName)</strong></dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.WarehouseName)</dd>
                    </dl>

                    <div class="d-flex justify-content-between">
                        <a class="btn btn-warning btn-lg" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                        <a class="btn btn-outline-secondary btn-lg" asp-action="Index">Volver a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
